.lds-roller {
    display: none;
    position: absolute;
    width: 80px;
    /*height: 80px;*/
    align-self: center;
    color: #1c6081 !important;
    top: 300px;
}

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #1c6081;
            margin: -4px 0 0 -4px;
        }

        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }

            .lds-roller div:nth-child(1):after {
                top: 63px;
                left: 63px;
            }

        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }

            .lds-roller div:nth-child(2):after {
                top: 68px;
                left: 56px;
            }

        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }

            .lds-roller div:nth-child(3):after {
                top: 71px;
                left: 48px;
            }

        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }

            .lds-roller div:nth-child(4):after {
                top: 72px;
                left: 40px;
            }

        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }

            .lds-roller div:nth-child(5):after {
                top: 71px;
                left: 32px;
            }

        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }

            .lds-roller div:nth-child(6):after {
                top: 68px;
                left: 24px;
            }

        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }

            .lds-roller div:nth-child(7):after {
                top: 63px;
                left: 17px;
            }

        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }

            .lds-roller div:nth-child(8):after {
                top: 56px;
                left: 12px;
            }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.pq-grid-cell {
    white-space: pre-wrap !important;
    word-wrap: break-word;
}

.pq-loading .pq-loading-mask {
    border-color: black !important;
}

.delete_btn {
    padding: 0px 3px;
}

.btn {
    padding: 5px 10px !important;
}

div.pq-grid-row * {
    font-size: 12px !important;
}

.bgImage .flaticon2-reload {
    background-image: none !important;
}

.pq-group-title-cell label {
    display: contents !important;
}

.pq-grid-footer table {
    float: right !important;
}

.wrap {
    background: url( '/PQGridPro/images/wrap.png' ) !important; /* any 16 * 16 image */
}

.redo {
    background: url( '/PQGridPro/images/redo.png' ) !important; /* any 16 * 16 image */
}

.undo {
    background: url( '/PQGridPro/images/undo.png' ) !important; /* any 16 * 16 image */
}

.resetfilter {
    background: url('/PQGridPro/images/resetfilter1.png') !important
}

.ExpandAllSteps {
    background: url('/PQGridPro/images/ExpandAll.png') !important
}

.CollapseAll {
    background: url('/PQGridPro/images/CollapseAll.png') !important
}

.plus {
    background: url( '/PQGridPro/images/plus.png' ) !important; /* any 16 * 16 image */
}

.save {
    background: url( '/PQGridPro/images/save.png' ) !important; /* any 16 * 16 image */
}

.ui-button-text {
    font-size: 14px !important;
}

.export {
    background: url( '/PQGridPro/images/export.png' ) !important; /* any 16 * 16 image */
}

.validate {
    background: url( '/PQGridPro/images/check.png' ) !important; /* any 16 * 16 image */
}


.execute {
    background: url('/PQGridPro/images/play.png') !important;    
}


.ui-icon-seek-first {
    background: url( '/PQGridPro/images/first.png' ) !important; /* any 16 * 16 image */
    width: 24px !important;
    height: 24px !important;
}

.ui-icon-seek-prev {
    background: url( '/PQGridPro/images/previous.png' ) !important; /* any 16 * 16 image */
    width: 24px !important;
    height: 24px !important;
}

.ui-icon-seek-next {
    background: url( '/PQGridPro/images/next.png' ) !important; /* any 16 * 16 image */
    width: 24px !important;
    height: 24px !important;
}

.ui-icon-seek-end {
    background: url( '/PQGridPro/images/last.png' ) !important; /* any 16 * 16 image */
    width: 24px !important;
    height: 24px !important;
}

button .ui-icon-close {
    background: url( '/PQGridPro/images/icons8-trash-12.png' ) !important;
    width: 10px !important;
    height: 10px !important;
}



.freeze {
    background: url( '/PQGridPro/images/freeze.png' ) !important; /* any 16 * 16 image */
    width: 16px !important;
    height: 16px !important;
}

.pq-toolbar button:hover {
    background-color: #59c0e7 !important;
}

.pq-toolbar button:active {
    background: -webkit-linear-gradient(top, #59c0e7, #59c0e7) !important;
    transform: translateY(2px);
}

.validatedRow {
    background-color: pink;
}

.pq-tabs ul {
    display: -webkit-box;
}

    .pq-tabs ul li {
        padding: 10px;
        width: 35px;
        display: -webkit-box;
    }

.pq-theme .ui-state-active {
    background-color: #1c6081 !important;
}

#clsApplication span {
    min-width: 60px;
    border-color: #d1e6ef;
}

#downloadfile:hover {
    color: #1c6081 !important;
}

#downloadfile {
    text-decoration: underline !important;
}

.select2-search__field {
    min-width: 100px;
}

/*#clsTestSuite span {
    min-width: 60px;
}*/

div.dt-buttons {
    float: right;
    margin-left: 10px;
}

.btn btn-secondary buttons-excel buttons-html5 {
    width: 119px;
    height: 40px;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    width: 119px;
    height: 40px;
}

.rightcontext {
    z-index: 98;
    position: absolute;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
}

.rightContexthide {
    display: none;
}

.rightcontext li {
    list-style: none;
}

.rightcontext a {
    border: 0 !important;
    text-decoration: none;
}

    .rightcontext a:hover {
        text-decoration: underline !important;
    }

td .ObjectnoWrap {
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Login button*/
#kt_login_signin_submit_In, #kt_login_forgot_submit, #kt_login_forgot_cancel {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.exportsb {
    background: url( '/assets/media/icons/export_resultset.png' ) !important; /* any 16 * 16 image */
}