################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/MARSWebUnitTest/obj/Release
*.log
*.pdb
/MARS_Web/obj/Debug/MARS_Web.dll
