<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <MarsEnvironments>

    <MarsEnvironment name="DEV">
      <RegistedApplications>
        <RegApplication AppName="Summit5.6" Mode="Baseline"  command="" path="C:\summit\v5.6\FT_Front\SummitFT.exe" identifier="SummitFT.exe" ApplicationType="window" ExtraRequirement="INFRAGISTICS_V_14" ExtraPopupMenu="1"/>
        <RegApplication AppName="Summit6.1" Mode="Compare" command="" path="C:\summit\v6.1\FT_Front64\SummitFT.exe" identifier="SummitFT.exe" ApplicationType="window" ExtraRequirement="INFRAGISTICS_V_162" ExtraPopupMenu="1"/>
      </RegistedApplications>
      
      <LogPath path="%MARS_HOME%\log"></LogPath>
      <WebApi url="http://marquis201:8051/"></WebApi>
<!--


      <LogTest path="C:\MarsTest\log"></LogTest>
  -->    
      <!-- <DatabaseConnectionDetails -->
        <!-- Type="Oracle" -->
        <!-- Host="localhost" -->
        <!-- Port="1521" -->
        <!-- ServiceName="orclpdb.hybkaalv5llunibolgwj0r0pdf.bx.internal.cloudapp.net" -->
        <!-- ConnString="" -->
        <!-- EntityConnString="" -->
        <!-- Schema="GEN_MARS_20" -->
        <!-- UserName="GEN_MARS_20" -->
        <!-- Password="GEN_MARS_20" -->
        <!-- DBIdx="GEN_MARS_20" -->
        <!-- >   -->
      <!-- </DatabaseConnectionDetails> -->
 <DatabaseConnectionDetails
        Type="Oracle"
        Host="CS-DC-17"
        Port="1521"
        ServiceName="orcl"
        ConnString=""
		EntityConnString=""
        Schema="GEN_MARS_31"
        UserName="GEN_MARS_31"
        Password="GEN_MARS_31"
		 DBIdx="GEN_MARS_31"
		>
      </DatabaseConnectionDetails>  
	  
	  
      <DataCompare
        TemplatePath="c:\temp\DataCompareTemplate"
        OutputPath="c:\temp\DataCompareOutput">
      </DataCompare>
	  
	  <ReportConfig
	    REPORT_PATH="D:\Gitlab MARS\MARS_Revamp\MARS_Web\MARSReport\MarsAutomation\Report"
        REPORT_TEMPLATE_PATH="D:\Gitlab MARS\MARS_Revamp\MARS_Web\MARSReport\MarsAutomation\ReportTemplates"
		REPORT_IMAGE_PATH = "D:\Gitlab MARS\MARS_Revamp\MARS_Web\MARSReport\MarsAutomation\ReportTemp"
		REPORT_TABLE_WORD = "CASHFLOW">
	   </ReportConfig>
    
    </MarsEnvironment>
  </MarsEnvironments>

  <appSettings>
    <add key="WinMergePath" value="C:\Program Files\WinMerge\WinMergeU.exe" />
  </appSettings>
</configuration>