<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <MarsEnvironments>

    <MarsEnvironment name="DEV">
      <RegistedApplications>
        <RegApplication AppName="Summit5.6" Mode="Baseline"  command="" path="C:\summit\v5.6\FT_Front\SummitFT.exe" identifier="SummitFT.exe" ApplicationType="window" ExtraRequirement="INFRAGISTICS_V_14" ExtraPopupMenu="1"/>
        <RegApplication AppName="Summit6.1" Mode="Compare" command="" path="C:\summit\v6.1\FT_Front64\SummitFT.exe" identifier="SummitFT.exe" ApplicationType="window" ExtraRequirement="INFRAGISTICS_V_162" ExtraPopupMenu="1"/>
      </RegistedApplications>
      
      <LogPath path="C:\MarsApp\log"></LogPath>
      <WebApi url="http://localhost:8080/help"></WebApi>

      <LogTest path="C:\MarsTest\log"></LogTest>
      
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="MyHost"
        Port="1521"
        ServiceName="MyService"
        ConnString=""
        Schema="MySchema"
        UserName="MyUser"
        Password="MyPassword">  
      </DatabaseConnectionDetails>

      <DataCompare
        TemplatePath="c:\temp\DataCompareTemplate"
        OutputPath="c:\temp\DataCompareOutput">
      </DataCompare>
    
    </MarsEnvironment>
  </MarsEnvironments>

  <appSettings>
    <add key="TempPicturePath" value="C:\automationTest\Automation Workbooks\tempImg" />
    <add key="REPORT_PATH" value="C:\automationTest\Automation Workbooks\Report" />
    <add key="REPORT_TEMPLATE_PATH" value="C:\automationTest\Automation Workbooks\ReportTemplates" />
    <add key="TestTargetApplication" value="SummitFT 6.0" />
    <add key="IsContinueLatestTest" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MARSDBInstance" value="Oracle" />
    <add key="MARS_DB_PWD" value="BzajNZ29/UgNdc9Ompy4Kg==" />
    <add key="IsAutoCheckError" value="true" />
    <add key="DefaultSchema" value="MARS_NT" />
    <add key="DefaultWindowIds" value="Text:=((Misys ){0,1}(FusionCapital ){0,1}Summit( FT){0,1})(?!(.*Login)).*;swfname:=Desktop;index:=0" />
    <add key="DefaultWaitTime" value="120" />
    <add key="VerifyValueSkipper" value="true"/>
    <add key="DefautlApplication" value="ShortName:Sophis713"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DebugMode" value="VBS"/>
    <add key="BaseLineMode" value="Build"/>
    <add key="PegwindowType" value="Pegwindow;Window;Dialog;WpfWindow;SwfWindow"/>
    <add key="GenerateAppFor" value="SophisValue.exe" />
    <add key="SkipStepWords" value="SKIP;IGNORE"/>
    <add key="CurrentPegWindowReplace" value="JavaWindow"/>
    <add key="_AUTO_ERROR_CHECK_OBJ_" value="_AUTO_ERROR_CHECK_OBJ_"/>
    <add key="CurrentAppShortName" value="Summit" />
    <add key="KeywordRequireAutocheckError" value ="ADDDays;ClickButton;ClickMenuIcon;ClickPopupMenuItem;ClickRadioButton;FillEdit;FillEditLookup;FillEditSuffix;FillTable;InsertEdit;InsertRow;LaunchApplication;PressKeys;PressTab;SearchAndClick;SearchAndUpdateTable;SelectDropDown;SelectListItem;SelectMenuItem;SelectTab;SetBox"/>
    <add key="ShellDir" value="d:\tmp\Mars\" />
    <add key="HOST" value="localhost" />
    <add key="PROTOCOL" value="net.tcp" />
    <add key="PORT" value="9888" />
    <add key="SERVICENAME" value="MARSTIGFrame" />
	<add key="DataConnectionMode" value="DB" />
  </appSettings>
  
</configuration>