
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="left: @ViewBag.width;">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">

                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-settings" style="color:#1c6081"></i></a>
                    <a href="#" class="kt-subheader__breadcrumbs-link" style="color:#1c6081">
                        ResultSet
                    </a>
                    <i class="fa fa-angle-double-right" style="color:#1c6081"></i>
                    <a href="#" class="kt-subheader__breadcrumbs-link" style="color:#1c6081">
                        &nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title" style="color:#1582ab">
                        Import ResultSet
                    </h3>
                </div>
            </div>
            @Html.AntiForgeryToken()
            <div class="kt-portlet__body">
                <div class="form-group col-md-4">
                    <label class="form-control-label">Project :<span style="color:red">&nbsp;*</span></label>
                    <select class="form-control kt-select2" id="DrpIProject" name="DrpDataFile">
                        @{var lProjectList = ViewBag.projectlist as IEnumerable<SelectListItem>;

                            foreach (var item in lProjectList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="name" class="form-control-label">Select Mode:</label>
                    <select class="form-control kt-select2" id="drpIPRMode" name="drpIPRMode">
                        <option value="1">Baseline</option>
                        <option value="0">Compare</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="recipient-name" class="form-control-label">Name</label>
                    <input type="text" class="form-control" id="resultsetname" name="resultsetname" maxlength="128">
                </div>
                <div class="form-group col-md-4">
                    <label for="message-text" class="form-control-label">Description</label>
                    <textarea class="form-control" id="resultsetdesc" name="resultsetdesc" maxlength="256"></textarea>
                </div>
                <div class="form-group col-md-4">
                    <div></div>
                    <div class="custom-file ">
                        <input type="file" class="custom-file-input" id="resultsetupload" name="resultsetupload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <label class="custom-file-label " for="customFile" style="text-align: left;">Choose excel file</label>
                    </div>
                </div>
                <div class="form-group col-md-4" style="display:none;" id="hdnDownloadResultSetlink">
                    <div></div>
                    <div class="custom-file ">
                        <a href="#" id="downloadResultSetFile"> Click here to download Validation File <i class="flaticon-download-1"></i>  </a>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ">
                            <button type="submit" class="btn btn-outline-brand btn-elevate btn-pill" id="btnImportResultSet">Import</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnImportResultSet').click(function () {
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#resultsetupload").get(0);
                var files = fileUpload.files;
                if (files.length <= 0) {
                    swal.fire({
                        "title": "No files to import",
                        "text": "Please select a file to import",
                        "type": "error",
                        "allowOutsideClick": false,
                        "onClose": function (e) {
                            console.log('on close event fired!');
                        }
                    });
                    return false;
                }
                var lProjectId = $('#DrpIProject').val();
                var lMode = $('#drpIPRMode').val();
                var lName = $('#resultsetname').val();
                var lDesc = $('#resultsetdesc').val();
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                startloader();
                $.ajax({
                    url: '/Storyboard/ImportResultSets?ProjectId=' + lProjectId + '&Mode=' + lMode + '&Name=' + lName + '&Desc=' + lDesc,
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        $('#DrpIProject').prop('selectedIndex',0);
                        $('#drpIPRMode').prop('selectedIndex', 0);
                        $('#resultsetname').val('');
                        $('#resultsetdesc').val('');
                        document.getElementById("resultsetupload").value = "";
                        $('#resultsetupload').parents().find('.custom-file-label')[0].innerHTML = "Choose excel file";
                        var fresult = result.split(',');
                        if (fresult[1] == "success") {
                            swal.fire({
                                "title": "ResultSet is imported successfully",
                                "type": "success",
                                "allowOutsideClick": false,
                                "onClose": function (e) {
                                    console.log('on close event fired!');
                                }
                            });
                            $("#hdnDownloadResultSetlink").css("display", "none");
                            $("#downloadResultSetFile").attr("href", "#");
                            $.ajax({
                                url: "/Login/LeftPanel",
                                type: "POST",
                                contentType: "application/json;charset=utf-8",
                                dataType: "HTML",
                                success: function (result) {
                                    $("#leftProjectList").html("");
                                    $("#leftProjectList").html(result);
                                }
                            });
                        }
                        else if (fresult[1] == "validation") {
                            swal.fire({
                                "title": "ResultSet validation",
                                "text": "Please click on link to download error report.",
                                "type": "warning",
                                "allowOutsideClick": false,
                                "onClose": function (e) {
                                    console.log('on close event fired!');
                                }
                            });
                            $("#hdnDownloadResultSetlink").css("display", "block");
                            $("#downloadResultSetFile").attr("href", "/Storyboard/DownloadFile?path=" + fresult[0]);
                        }
                        else {
                            swal.fire({
                                "title": "Exception occured.",
                                "text": "Please click on link to download error report.",
                                "type": "warning",
                                "allowOutsideClick": false,
                                "onClose": function (e) {
                                    console.log('on close event fired!');
                                }
                            });
                            $("#hdnDownloadResultSetlink").css("display", "block");
                            $("#downloadResultSetFile").attr("href", "/Storyboard/DownloadFile?path=" + fresult[0]);
                        }
                        stoploader();
                    },

                    error: function (err) {
                        stoploader();
                        alert(err.statusText);
                    }
                });
            } else {
                stoploader();
                alert("FormData is not supported.");
            }

        });
    });

    $('#resultsetupload').on('change', function () {
        var fileName = document.getElementById("resultsetupload").files[0].name;
        $(this).next('.custom-file-label').html(fileName);
    })
</script>



