<script>
    Highcharts.chart('chartholder', {
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: xAxisData()
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: getData(),
    });

    
function getData() {

           var json_axis = @Html.Raw(Json.Encode(@ViewBag.axis));
        console.log(json_axis);
        return JSON.parse(json_axis);
    }

    
function xAxisData() {

           var json_axis = @Html.Raw(Json.Encode(@ViewBag.X_Start));
        console.log(json_axis);
        return JSON.parse(json_axis);
        }
</script>
