<?xml version="1.0"?>
<configuration>
  <MarsEnvironments default="GEN_MARS_4">
    <MarsEnvironment name="GEN_MARS_4">
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="13.90.224.87"
        Port="1521"
        ServiceName="orcl.cyytwqmua5zehgpsaicph5l5lg.bx.internal.cloudapp.net"
        ConnString=""
        Schema="GEN_MARS_4"
        UserName="GEN_MARS_4"
        Password="GEN_MARS_4">
      </DatabaseConnectionDetails>
    </MarsEnvironment>
    <!--<MarsEnvironment name="TESTIDE12">
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="WIN-I13M2P5AI1B"
        Port="1521"
        ServiceName="XE"
        ConnString=""
        Schema="TESTIDE12"
        UserName="TESTIDE12"
        Password="TESTIDE12">
      </DatabaseConnectionDetails>
    </MarsEnvironment>
    <MarsEnvironment name="TESTIDE13">
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="WIN-I13M2P5AI1B"
        Port="1521"
        ServiceName="XE"
        ConnString=""
        Schema="TESTIDE13"
        UserName="TESTIDE13"
        Password="TESTIDE13">
      </DatabaseConnectionDetails>
    </MarsEnvironment>
    <MarsEnvironment name="TESTIDE14">
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="WIN-I13M2P5AI1B"
        Port="1521"
        ServiceName="XE"
        ConnString=""
        Schema="TESTIDE14"
        UserName="TESTIDE14"
        Password="TESTIDE14">
      </DatabaseConnectionDetails>
    </MarsEnvironment>-->
  </MarsEnvironments>

  <system.web>

  </system.web>
</configuration>
