
@using MARS_Repository.ViewModel
@{
    /**/

    string EditFolder = "false";
    var PrivilegeList = Session["PrivilegeList"] as List<PrivilegeViewModel>;
    if (PrivilegeList.Count > 0)
    {
        EditFolder = PrivilegeList.Select(y => y.PRIVILEGE_NAME.Trim()).ToList().Contains("Edit Folder").ToString().ToLower();
    }
}

<input type="hidden" value="@EditFolder" id="hdnEditFolder" />
  
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="left: @ViewBag.width;">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">

                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-Foldertings" style="color:#1c6081"></i></a>
                    <a href="#" class="kt-subheader__breadcrumbs-link" style="color:#1c6081">
                        Folder
                    </a>
                    <i class="fa fa-angle-double-right" style="color:#1c6081"></i>
                    <a href="#" class="kt-subheader__breadcrumbs-link" style="color:#1c6081">
                        &nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title" style="color:#1582ab">
                        List Of All Folder
                    </h3>
                </div>
                @if (PrivilegeList.Select(y => y.PRIVILEGE_NAME.Trim()).ToList().Contains("Add Folder"))
                    {
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <button type="button" class="btn btn-brand btn-elevate btn-icon-sm" data-toggle="modal" onclick="AddFolder()" data-target="#kt_modal_4"><i class="la la-plus"></i>New Folder</button>
                            &nbsp;
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="modal fade" id="AddFolder" tabindex="-1" role="dialog" aria-labelledby="fexampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="fexampleModalLabel">Add Folder</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="frmFolder">
                                <input type="hidden" id="hdnFolderId" name="hdnFolderId" />
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Name<span style="color:red">&nbsp;*</span></label>
                                    <input type="text" class="form-control" id="Foldername" name="Foldername" onchange="CheckFolderNameExist()" maxlength="32">
                                    <label id="existFoldername" class="error" style="display: none;width: 100%;margin-top: 0.25rem;font-size: 80%;color: #fd397a;">
                                        Folder Name already exist.
                                    </label>
                                    <label id="Foldervalidate" class="error" style="display: none;width: 100%;margin-top: 0.25rem;font-size: 80%;color: #fd397a;">
                                        Folder name can only consist Uppercase,Lowercase,numbers and Special characters(-,_,.,*,&,(,))
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="form-control-label">Description<span style="color:red">&nbsp;*</span></label>
                                    <textarea class="form-control" id="Folderdesc" name="Folderdesc" maxlength="1024"></textarea>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="message-text" class="form-control-label">Active</label>
                                    <label class='kt-checkbox kt-checkbox--brand'><input type='checkbox' id='Folderactive' name='Folderactive' checked/>&nbsp;<span></span></label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="editFolder" class="btn btn-outline-brand btn-elevate btn-pill" onclick="EditFolder()" style="display:none">Edit Data Sets</button>
                            <button type="button" id="addedFolder" class="btn btn-outline-brand btn-elevate btn-pill" onclick="AddEditFolderSave()">Save</button>
                            <button type="button" class="btn btn-outline-brand btn-elevate btn-pill" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table class="table table-striped- table-bordered table-hover table-checkable " id="Foldertable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th style="color: #1c6081;background-color: #e9f5ff;font-weight: bold;">Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    var FolderTable = function () {
        $.fn.dataTable.Api.register('column().title()', function () {

            return $(this.header()).text().trim();
        });
        var initFolderTable = function () {

            var lEditFolderdisplay = $("#hdnEditFolder").val();

            FolderTable = $('#Foldertable').DataTable({
                responsive: false,
                // Pagination Foldertings
                dom: `<'row'<'col-sm-12'tr>>
                                                    <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                // read more: https://datatables.net/examples/basic_init/dom.html

                lengthMenu: [10, 100, 1000],
                processing: true,
                pageLength: 100,

                language: {
                    'lengthMenu': 'Display _MENU_',
                    "processing": "<img  src='../assets/media/mars.gif' style='width:80px;'/>"
                },
                "scrollY": $(window).height() - 305,
                searchDelay: 500,
                //  processing: true,
                serverSide: true,
                ajax: {
                    url: '/TestCase/FolderDataLoad',
                    type: 'POST',
                    data: {
                        // parameters for custom backend script demo
                        columnsDef: [
                            'Name', 'Description', 'Active', 'Actions',],
                    },
                },

                columns: [
                    { data: 'Name', name: "Name", width: '30%', "targets": 0, autowidth: false },
                    { data: 'Description', name: "Description", width: '30%', "targets": 1, autowidth: false },
                    { data: 'Active', name: "Active", width: '20%', "targets": 2, autowidth: false },
                    { data: 'Actions', responsivePriority: -1, width: '20%', "targets": 3, autowidth: false }
                ],
                initComplete: function () {
                    var thisTable = this;
                    var rowFilter = $('<tr class="filter"></tr>').appendTo($(FolderTable.table().header()));

                    FolderTable.columns().every(function () {
                        var column = this;
                        var input;
                        switch (column.title()) {
                            case 'Name':
                            case 'Description':
                                //case 'Active':
                                input = $(`<input type="text" class="form-control form-control-sm form-filter kt-input" data-col-index="` + column.index() + `"/>`);
                                $(input).keyup(function () {
                                    var params = {};
                                    $(rowFilter).find('.kt-input').each(function () {
                                        var i = $(this).data('col-index');
                                        if (params[i]) {
                                            params[i] += '|' + $(this).val();
                                        }
                                        else {
                                            params[i] = $(this).val();
                                        }
                                    });
                                    $.each(params, function (i, val) {
                                        FolderTable.column(i).search(val ? val : '', false, false);
                                    });
                                    FolderTable.table().draw();
                                });
                                break;
                        }
                        if (column.title() !== 'actions') {
                            $(input).appendTo($('<th>').appendTo(rowFilter));
                        }
                    });
                },
                columnDefs: [
                    {
                        targets: -1,
                        title: 'Actions',
                        orderable: false,
                        render: function (data, type, full, meta) {
                            var lid = full.Id;
                            var lName = full.Name == null ? "" : full.Name.replace(/'/g, "###");
                            var lDes = full.Description == null ? "" : full.Description.replace(/'/g, "###");
                            var lActive = full.IsActive;
                            var lRenderHtml = "";
                            if (lEditFolderdisplay == "true") {
                            lRenderHtml = " <a href='#' class='btn btn-sm btn-clean btn-icon btn-icon-md' title='View' data-name='" + lName + "' data-des='" + lDes + "' data-act='" + lActive + "'onclick=AddEditFolder(" + lid + ",$(this)) ><i class='la la-edit'></i></a> ";
                             }
                            return lRenderHtml;
                        },
                    }
                ],
            });
        };
        return {
            init: function () {
                initFolderTable();
            },
        };
    }();
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $($.fn.dataTable.tables(true)).DataTable()
            .columns.adjust();
    });
    jQuery(document).ready(function () {
        FolderTable.init();
    });
    $(document).ready(function () {

        $("#frmFolder").validate({
            rules: {
                Foldername: {
                    required: true
                },
                Folderdesc: {
                    required: true
                }
            },
        });
    });

    function AddFolder() {
        $("#editFolder").css("display", "none");
        $("#Foldervalidate").css("display", "none");
        $("#Foldername").prop("disabled", false);
        $("#addedFolder").attr("disabled", false);
        $("#fexampleModalLabel").text('');
        $("#fexampleModalLabel").text('Add Folder');
        $("#AddFolder").modal("show");
        $('.modal-dialog').draggable({
            handle: ".modal-header"
        });
        $("#hdnFolderId").val("");
        $("#Foldername").val("");
        $("#Folderdesc").val("");
        $("#Folderactive").prop('checked', false);

        var validator = $("#frmFolder").validate();
        validator.resetForm();
    }

    function AddEditFolder(Id, editObj) {
        var validator = $("#frmFolder").validate();
        validator.resetForm();
        $("#fexampleModalLabel").text('');
        $("#fexampleModalLabel").text('Edit Folder');
        $("#existFoldername").css("display", "none");
        $("#Foldername").prop("disabled", true);
        $("#addedFolder").prop("disabled", false);
        $("#Foldervalidate").css("display", "none");
        $("#editFolder").css("display", "block");

        var lId = Id;
        var Name = $(editObj).attr("data-name").replace(/###/g, "'");
        var Desc = $(editObj).attr("data-des").replace(/###/g, "'");
        var active = $(editObj).attr("data-act");

        if (active == "1")
            $("#Folderactive").prop('checked', true);
        else
            $("#Folderactive").prop('checked', false);

        $("#Foldername").val(Name);
        $("#Folderdesc").val(Desc);
        $("#hdnFolderId").val(lId);

        $("#AddFolder").modal("show");
        $('.modal-dialog').draggable({
            handle: ".modal-header"
        });
        if (!$("#Foldervalidate").valid())
            return false;
    }

    function AddEditFolderSave() {
        $("#existFoldername").css("display", "none");
        $("#addedFolder").prop("disabled", true);
        if (!$("#frmFolder").valid()) {
            $("#addedFolder").prop("disabled", false);
            return false;
        }
        var lId = $("#hdnFolderId").val();
        if (lId == null && lId == "")
            lId = 0;
        var regex = /^[a-zA-Z0-9-._(&)*  ]*$/;

        var activeval = 0;

        if ($("#Folderactive").is(":checked"))
            activeval = 1;

        var FolderModel = {};
        FolderModel.Id = lId,
            FolderModel.Name = $("#Foldername").val().trim(),
            FolderModel.Description = $("#Folderdesc").val(),
            FolderModel.IsActive = activeval;
        if (!regex.test(FolderModel.Name)) {
            $("#Foldername").val("");
            $("#Foldervalidate").css("display", "block");
            $("#addedFolder").attr("disabled", false);
            return false;
        }
        startloader();
        $("#AddFolder").modal("hide");
        $.ajax({
            url: "/TestCase/AddEditFolder",
            data: JSON.stringify(FolderModel),
            type: "POST",
            contentType: "application/json;charFolder=utf-8",
            dataType: "json",
            success: function (result) {
                stoploader();
                $("#addedFolder").attr("disabled", false);
                if (result.status == 1 && result.data) {
                    swal.fire({
                        "title": "",
                        "text": result.message,
                        "icon": "success",
                        "onClose": function (e) {
                            console.log('on close event fired!');
                        }
                    });
                }
                else if (result.status == 0) {
                    swal.fire({
                        "title": "",
                        "text": result.message,
                        "icon": "error",
                        "onClose": function (e) {
                            console.log('on close event fired!');
                        }
                    });
                }
                FolderTable.table().draw();
            },
            error: function (errormessage) {
                alert(errormessage.responFolderext);
            }
        });
    }

    function CheckFolderNameExist() {
        var Name = $("#Foldername").val();
        var Id = $("#hdnFolderId").val();

        $.ajax({
            url: "/TestCase/CheckDuplicateFolderNameExist",
            data: '{"Name":"' + Name + '","Id":"' + Id + '"}',
            type: "POST",
            contentType: "application/json;charFolder=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.status == 1 && result.data) {
                    $("#Foldername").val("");
                    $("#existFoldername").css("display", "block");
                }
                else if (result.status == 0) {
                    swal.fire({
                        "title": "",
                        "text": result.message,
                        "icon": "error",
                        "onClose": function (e) {
                            console.log('on close event fired!');
                        }
                    });
                }
            },
        });
    }

    function EditFolder() {
        var lId = $("#hdnFolderId").val();
        var name = $("#Foldername").val();
        startloader();
        $.ajax({
            url: "/TestCase/GetFolderDatasetList",
            data: '{"lId":"' + lId + '","name":"' + name + '"}',
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "HTML",
            success: function (result) {
                $("#AddFolder").modal("hide");
                var lflag = false;
                name = name.replace(/ /g, '_');
                var ltabName = "#tab" + name;
                var ltabIdName = "tab" + name;
                $('.ULtablist li').each(function (index, value) {
                    if ($(value).children().first().attr("data-target") == ltabName) {
                        if ($(value).children().first().attr("data-tab") == "FolderDataSet") {
                            lflag = true;
                        }
                    }
                });
                var ltab = "";
                //if (Default == "1") {
                //    ltab = '<li class="nav-item context-menu-tab" ><a title="StoryboardName: ' + StoryboardName + ' Row: ' + RunOrder +' " data-pin="true" href="' + ltabName + '" class="nav-link active context-tab" data-tab="DataTag" data-testcaseid="' + lTestCaseId + '" data-storyboarddetailid="' + lStoryboardDetailId + '" data-baseid="' + BhistedId + '" data-compareid="' + ChistedId + '" data-storyboard="' + StoryboardName + '" data-runorder="' + RunOrder + '" data-name="' + name + '" data-toggle="tab" data-target="' + ltabName + '" onclick="ActiveTab($(this))"><img alt="DataTag" class="tab_icons_img" src="/assets/media/icons/rs.png">' + name + '</a><i class="fa fa-times-circle tab_close" style="cursor:pointer" onclick="closetab($(this))"></i></li>';
                //} else {
                //    ltab = '<li class="nav-item context-menu-tab" ><a title="StoryboardName: ' + StoryboardName + ' Row: ' + RunOrder +' " data-pin="false" href="' + ltabName + '" class="nav-link active context-tab" data-tab="DataTag" data-testcaseid="' + lTestCaseId + '" data-storyboarddetailid="' + lStoryboardDetailId + '" data-baseid="' + BhistedId + '" data-compareid="' + ChistedId + '" data-storyboard="' + StoryboardName + '" data-runorder="' + RunOrder + '" data-name="' + name + '" data-toggle="tab" data-target="' + ltabName + '" onclick="ActiveTab($(this))"><img alt="DataTag" class="tab_icons_img" src="/assets/media/icons/rs.png">' + name + '</a><i class="fa fa-times-circle tab_close" style="cursor:pointer" onclick="closetab($(this))"></i></li>';
                //}

                ltab = '<li class="nav-item context-menu-tab" ><a title="FolderName: ' + name + ' " data-pin="false" href="' + ltabName + '" class="nav-link active context-tab" data-tab="FolderDataSet" data-folderid="' + lId + '" data-name="' + name + '" data-toggle="tab" data-target="' + ltabName + '" onclick="ActiveTab($(this))"><img alt="FolderDataSet" class="tab_icons_img" src="/assets/media/icons/FD.png">' + name + '</a><i class="fa fa-times-circle tab_close" style="cursor:pointer" onclick="closetab($(this))"></i></li>';
                var ldiv = '<div class="tab-pane active div" id="' + ltabIdName + '" role="tabpanel">' + result + '</div>';

                if (lflag) {
                    //if (Activetab != null) {
                        var lParentli = $(Activetab).parent();
                        var ltab = '<li class="nav-item context-menu-tab" ><a title="FolderName: ' + name + ' " data-pin="false" href="' + ltabName + '" class="nav-link active context-tab" data-tab="FolderDataSet" data-folderid="' + lId + '" data-name="' + name + '" data-toggle="tab" data-target="' + ltabName + '" onclick="ActiveTab($(this))"><img alt="FolderDataSet" class="tab_icons_img" src="/assets/media/icons/FL.png">' + name + '</a><i class="fa fa-times-circle tab_close" style="cursor:pointer" onclick="closetab($(this))"></i></li>';
                        var ldiv = result;
                        var lId = "tab" + name;
                        var lGridDiv = $(".divtablist").find("#" + lId);
                        $(lParentli).html("");
                        $(lParentli).html(ltab);
                        $(lGridDiv).html("");
                        $(lGridDiv).html(ldiv);
                    //}
                    $('.ULtablist li').each(function (index, value) {
                        if ($(value).children().first().attr("data-target") == ltabName) {
                            $(value).children().first().addClass("active");
                        } else {
                            $(value).children().first().removeClass("active");
                        }
                    });
                    $('.divtablist div').each(function (index, value) {
                        if ($(value).first().attr("id") == ltabIdName) {
                            $(value).addClass("active");
                        } else {
                            $(value).removeClass("active");
                        }
                    });
                }
                else {
                    $(".ULtablist").append(ltab);
                    $(".divtablist").append(ldiv);
                    $('.ULtablist li').each(function (index, value) {
                        if ($(value).children().first().attr("data-target") != "#tab" + name) {
                            $(value).children().first().removeClass("active");
                        }
                    });
                    $('.divtablist div').each(function (index, value) {
                        if ($(value).first().attr("id") != "tab" + name) {
                            $(value).removeClass("active");
                        }
                    });
                }
                stoploader();
            },
        });

    }

    $("#Foldername").on('keyup', function () {
        $("#existFoldername").css("display", "none");
    });
    $("#Foldername").on('keyup', function () {
        $("#Foldervalidate").css("display", "none");
    });
</script>






