.kt-login.kt-login--v2 {
  background-size: cover;
  background-repeat: no-repeat; }
  .kt-login.kt-login--v2 .kt-login__wrapper {
    padding: 6% 2rem 1rem 2rem;
    margin: 0 auto 0rem auto;
    overflow: hidden; }
    .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container {
      width: 430px;
      margin: 0 auto; }
      .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__logo {
        text-align: center;
        margin: 0 auto 4rem auto; }
      .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__head {
        margin-top: 1rem; }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            color: #2d8fb4;
        }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__desc {
            margin-top: 1.5rem;
            text-align: center;
            font-size: 1.1rem;
            font-weight: 400;
            color: rgb(28, 96, 129);
        }
      .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form {
        margin: 4rem auto; }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .input-group {
            padding: 0;
            margin: 0 auto;
            margin-top: 1.5rem;
        }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control {
            height: 46px;
            border-radius: 46px;
            border: none;
            padding-left: 3.5rem;
            padding-right: 2.5rem;
            /*margin-top: 1.5rem;*/
            background: rgba(28, 96, 129,0.8);
            color: #fff;
        }
          .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control::-moz-placeholder {
            color: rgba(255, 255, 255, 0.7);
            opacity: 1; }
          .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7); }
          .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7); }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-valid + .valid-feedback,
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-invalid + .invalid-feedback {
          font-weight: 500;
          font-size: 0.9rem;
          padding-left: 1.6rem; }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra {
            padding-left: 7px;
            padding-right: 7px;
            margin: 15px auto;
            color: rgb(28, 96, 129);
            font-size: 1rem;
        }
          .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-checkbox {
            font-size: 1rem; }
            .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-checkbox > span {
                border: 1px solid rgb(28, 96, 129);
            }
            .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-checkbox input:checked ~ span {
                border: 1px solid #1a5f81;
            }
                .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-checkbox input:checked ~ span:after {
                    border: solid #1a5f80;
                }
            .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link {
                font-size: 1rem;
                color: rgb(28, 96, 129);
                font-weight:500;
            }
            .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link:hover {
                color: #457e99;
            }
            .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-link:hover:after {
                border: 0px;
            }
                .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions {
                    text-align: center;
                    margin-top: 7%;
                }
            .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary,
            .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary {
                height: 46px;
                display: inline-block;
                text-align: center;
                padding-left: 4rem;
                padding-right: 4rem;
                margin-top: 0.8rem;
                border-radius: 60px;
                background: #1b5f80;
                color: rgba(255, 255, 255, 0.8);
                border-color: rgb(27, 95, 128);
            }
                .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary.active, .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary:active, .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary:hover,
                .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary.active,
                .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary:active,
                .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary:hover {
                    color: #fff;
                    border-color: #447e99;
                    background-color: #447e99;
                }
          .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary {
            color: rgba(255, 255, 255, 0.4);
            border-color: rgba(255, 255, 255, 0.3); }
            .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary.active, .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary:active, .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary:hover {
              color: #fff;
              border-color: #fff; }
      .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__account {
        text-align: center;
        margin-top: 2rem; }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-msg {
            font-size: 1.1rem;
            font-weight: 400;
            color: rgb(28, 96, 129);
        }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-link {
            font-size: 1.1rem;
            font-weight: 600;
            color: #1c6081;
        }

.kt-login.kt-login--v2.kt-login--signin .kt-login__signup {
  display: none; }

.kt-login.kt-login--v2.kt-login--signin .kt-login__signin {
  display: block; }

.kt-login.kt-login--v2.kt-login--signin .kt-login__forgot {
  display: none; }

.kt-login.kt-login--v2.kt-login--signup .kt-login__signup {
  display: block; }

.kt-login.kt-login--v2.kt-login--signup .kt-login__signin {
  display: none; }

.kt-login.kt-login--v2.kt-login--signup .kt-login__forgot {
  display: none; }

.kt-login.kt-login--v2.kt-login--signup .kt-login__account {
  display: none; }

.kt-login.kt-login--v2.kt-login--forgot .kt-login__signup {
  display: none; }

.kt-login.kt-login--v2.kt-login--forgot .kt-login__signin {
  display: none; }

.kt-login.kt-login--v2.kt-login--forgot .kt-login__forgot {
  display: block; }

@media (max-width: 1024px) {
  .kt-login.kt-login--v2 .kt-login__wrapper {
    padding-top: 5rem;
    width: 100%; }
    .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container {
      margin: 0 auto; }
      .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__account {
        margin-top: 10rem; } }

@media (max-width: 768px) {
  .kt-login.kt-login--v2 .kt-login__wrapper {
    width: 100%; }
    .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container {
      width: 100%;
      max-width: 400px;
      margin: 0 auto; }
      .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form {
        width: 100%;
        margin: 0 auto; }
        .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control {
            background: rgba(28, 96, 129,0.8);
        }
      .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__actions .kt-login__btn-submit {
        padding: 0.8rem 3rem; }
      .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-login__account {
        margin-top: 1.5rem; } }


.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px
}
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0;
    color: rgb(26, 95, 129,0.5);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow .5s ease-in-out forwards;
    animation: anim-shadow .5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 22px;
    pointer-events: none;
    color: #666;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}
.input-group .symbol-input100 i {
    color: #dde9ec;
}
.input100:focus + .focus-input100 + .symbol-input100 {
    color: #1a5f81;
    padding-left: 20px;
}
    .input100:focus + .focus-input100 + .symbol-input100 i {
        color: #1a5f81;
    }

.login_copyright {
    color: #447d99;
    text-align: center;
    font-weight: 500;
    z-index: 2;
}

    .login_copyright a {
        color: #447d99;
    }
