<?xml version="1.0"?>
<configuration>
  <MarsEnvironments default="GEN_MARS_31">
    <MarsEnvironment name="GEN_MARS_4">
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="13.90.224.87"
        Port="1521"
        ServiceName="orcl.cyytwqmua5zehgpsaicph5l5lg.bx.internal.cloudapp.net"
        ConnString=""
        Schema="GEN_MARS_4"
        UserName="GEN_MARS_4"
        Password="GEN_MARS_4">
      </DatabaseConnectionDetails>
    </MarsEnvironment>
    <MarsEnvironment name="GEN_MARS_31">
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="CS-DC-17"
        Port="1521"
        ServiceName="orcl"
        ConnString=""
        Schema="GEN_MARS_31"
        UserName="GEN_MARS_31"
        Password="GEN_MARS_31">
      </DatabaseConnectionDetails>
    </MarsEnvironment>
    <MarsEnvironment name="GEN_MARS_34">
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="CS-DC-15"
        Port="1521"
        ServiceName="orcl"
        ConnString=""
        Schema="GEN_MARS_34"
        UserName="GEN_MARS_34"
        Password="GEN_MARS_34">
      </DatabaseConnectionDetails>
    </MarsEnvironment>
    
    <MarsEnvironment name="GEN_MARS_5">
      <DatabaseConnectionDetails
        Type="Oracle"
        Host="40.76.111.78"
        Port="1521"
        ServiceName="orclpdb.hybkaalv5llunibolgwj0r0pdf.bx.internal.cloudapp.net"
        ConnString=""
        Schema="GEN_MARS_5"
        UserName="GEN_MARS_5"
        Password="GEN_MARS_5">
      </DatabaseConnectionDetails>
    </MarsEnvironment>
    
  </MarsEnvironments>
  
  <system.web>

  </system.web>
</configuration>
