



@{
    var lFileName = ViewBag.FileName;

    if (!string.IsNullOrEmpty(lFileName) && lFileName != ".xlsx")
    {

        <script>
            setTimeout(function () {
                swal.fire({
                    "title": "Test Suite has validation Occured.",
                    "text": "Please click on link to download error report.",
                    "icon": "warning",
                    "onClose": function (e) {
                        console.log('on close event fired!');
                    }
                });
            }, 1000);

        </script>


    }
    else
    {
        if (!string.IsNullOrEmpty(lFileName))
        {
            <script>
                setTimeout(function () {
                    swal.fire({
                        "title": "Test Suite is imported successfully",
                        //"text": "Please click on link to download error report.",
                        "icon": "success",
                        "onClose": function (e) {
                            console.log('on close event fired!');
                        }
                    });
                }, 1000);

            </script>
        }
    }

    var lErrorMsg = ViewBag.ErrorMsg;
    if (!string.IsNullOrEmpty(lErrorMsg))
    {

        <script>
            setTimeout(function () {
                swal.fire({
                    "title": "Error",
                    "text": "@lErrorMsg",
                    "icon": "error",
                    "onClose": function (e) {
                        console.log('on close event fired!');
                    }
                });
            }, 1000);

        </script>


    }
}


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="left: @ViewBag.width;">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">

                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-settings" style="color:#1c6081"></i></a>
                    <a href="#" class="kt-subheader__breadcrumbs-link" style="color:#1c6081">
                        Objects
                    </a>
                    <i class="fa fa-angle-double-right" style="color:#1c6081"></i>
                    <a href="#" class="kt-subheader__breadcrumbs-link" style="color:#1c6081">
                        &nbsp;
                    </a>


                    <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
                </div>
            </div>
        </div>
    </div>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title" style="color:#1582ab">
                        Import Objects
                    </h3>
                </div>
            </div>
            @Html.AntiForgeryToken()
            <div class="kt-portlet__body">
                <div class="form-group col-md-8">
                    <div></div>
                    <div class="custom-file ">
                        <input type="file" class="custom-file-input" id="objectupload" name="objectupload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <label class="custom-file-label " for="customFile" style="text-align: left;">Choose excel file</label>
                    </div>
                </div>
                <div class="form-group col-md-4" style="display:none;" id="hdnDownloadObjectlink">
                    <div></div>
                    <div class="custom-file ">
                        <a href="#" id="downloadObjectFile"> Click here to download Validation File <i class="flaticon-download-1"></i>  </a>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ">
                            <button type="submit" class="btn btn-outline-brand btn-elevate btn-pill" id="btnImportObject">Import</button>
                        </div>
                    </div>
                </div>
            </div>

            @*}*@
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnImportObject').click(function () {
            
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#objectupload").get(0);
                var files = fileUpload.files;
                if (files.length > 0) {
                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    startloader();
                    $.ajax({
                        url: '/Object/ImportFile',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            var fresult = result.split(',');
                            document.getElementById("objectupload").value = "";
                            $('#objectupload').parents().find('.custom-file-label')[0].innerHTML = "Choose excel file";
                            if (fresult[1] == "success") {

                                swal.fire({
                                    "title": "Objects imported successfully",
                                    "icon": "success",
                                    "allowOutsideClick": false,
                                    "onClose": function (e) {
                                        console.log('on close event fired!');
                                    }
                                });
                                $("#hdnDownloadObjectlink").css("display", "none");
                                $("#downloadObjectFile").attr("href", "#");
                            }
                            else if (fresult[1] == "validation") {
                                document.getElementById("objectupload").value = "";
                                $('#objectupload').parents().find('.custom-file-label')[0].innerHTML = "Choose excel file";
                                swal.fire({
                                    "title": "Object Validation Error.",
                                    "text": "Please click on link to download error report.",
                                    "icon": "warning",
                                    "allowOutsideClick": false,
                                    "onClose": function (e) {
                                        console.log('on close event fired!');
                                    }
                                });
                                $("#hdnDownloadObjectlink").css("display", "block");
                                $("#downloadObjectFile").attr("href", "/Object/DownloadFile?path=" + fresult[0]);
                            }
                            else {
                                swal.fire({
                                    "title": "Excpetion occured",
                                    "text": "Please click on link to download error report.",
                                    "icon": "error",
                                    "allowOutsideClick": false,
                                    "onClose": function (e) {
                                        console.log('on close event fired!');
                                    }
                                });
                                $("#hdnDownloadObjectlink").css("display", "block");
                                $("#downloadObjectFile").attr("href", "/Object/DownloadFile?path=" + fresult[0]);
                            }
                            stoploader();

                        },
                        //success: function (result) {
                        //    debugger;
                        //  //  if (result.status == 1) {
                        //        document.getElementById("objectupload").value = "";
                        //        $('#objectupload').parents().find('.custom-file-label')[0].innerHTML = "Choose excel file";
                        //        if (result != "" && result != null && result != ".xlsx" && result != "Data not found" && result != "Excel file is not valid.") {
                        //            swal.fire({
                        //                "title": "Object Validation Error.",
                        //                "text": "Please click on link to download error report.",
                        //                "type": "warning",
                        //                "allowOutsideClick": false,
                        //                "onClose": function (e) {
                        //                    console.log('on close event fired!');
                        //                }
                        //            });
                        //            $("#hdnDownloadObjectlink").css("display", "block");
                        //            $("#downloadObjectFile").attr("href", "/Object/DownloadFile?Path=" + result.data);
                        //        } else if (result != "" && result != null && result != "Data not found" && result != "Excel file is not valid.") {
                        //            swal.fire({
                        //                "title": "Objects imported successfully",
                        //                "type": "success",
                        //                "allowOutsideClick": false,
                        //                "onClose": function (e) {
                        //                    console.log('on close event fired!');
                        //                }
                        //            });
                        //            $("#hdnDownloadObjectlink").css("display", "none");
                        //            $("#downloadObjectFile").attr("href", "#");
                        //        }
                        //        stoploader();
                        //  //  }
                        //   // else if (result.status == 0) {
                        //        swal.fire({
                        //            "title": "Error",
                        //            "text": result.message,
                        //            "type": "error",
                        //            "allowOutsideClick": false,
                        //            "onClose": function (e) {
                        //                console.log('on close event fired!');
                        //            }
                        //        });
                        //        $("#hdnDownloadObjectlink").css("display", "none");
                        //        $("#downloadObjectFile").attr("href", "#");
                        // //   }
                        //},
                        error: function (err) {
                            stoploader();
                            alert(err.statusText);
                        }
                    });
                }
                else {
                    swal.fire({
                        "title": "No file to import",
                        "text": "Please select a file to import",
                        "icon": "error",
                        "allowOutsideClick": false,
                        "onClose": function (e) {
                            console.log('on close event fired!');
                        }
                    });
                }
                
            } else {
                stoploader();
                alert("FormData is not supported.");
            }
        });
    });
    $('#objectupload').on('change', function () {
        
        //get the file name
        //var fileName = $(this).val();
        var fileName = document.getElementById("objectupload").files[0].name;
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
</script>


