.logo_chartlayout_custom {
    position: fixed;
    background: #fff;
    z-index: 1;
    width: 240px;
    padding-top: 10px;
}
.chart_layout_custom_maingrid {
    padding-top: 85px !important;
    background-color: #fff;
}
.chart_layout_custom_maingrid {
    max-height: 100px !important;
}
.modebar {
    display: none !important;
}

#scene {
    height: 350px !important;
    width: 450px !important;
    top: 20px !important;
}

#chartholder .svg-container {
    margin-bottom: 30px;
}

#chartholder {
    margin-bottom: 10px;
}
